.login-video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-login {
  /* background: url("/public/images/img-home.jpg") center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login h1 {
  color: #ccc;
}
.login-input {
  padding: 20px;
}

.forgot-pass {
  margin-bottom: 30px;
}

a {
  color: #ccc;
  text-decoration: none;
}

.btn-primary {
  background-color: transparent;
  border: 1px solid #ccc;
  width: auto;
  color: #ccc;
  padding: 1% 40px;
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: 50;
  display: block;
  margin: auto;
  box-shadow: none !important;
}

.btn-primary:hover {
  background-color: #3e60c1;
  cursor: pointer;
}
